@page "/allbooks/{id:int}"
@using Library_DB
@using Client_Blazor.Services
@inject IBookService BookService

@if (Book is null)
{
    <p>Loading...</p>
}
else
{
    <h3>@Book.Title's Details</h3>

    @if (IsLoaned())
    {
        <h4>This book has been borrowed.</h4>
        <p>
            Person Name: @LibraryMember.Name
        </p>
        <p>
            Deadline: @Loan.ReturnDeadline
        </p>
    }
    else
    {
        <h4>This book is inside the library.</h4>
        <p>
            Title: @Book.Title
        </p>
        <p>
            Author: @Book.Author
        </p>
        <p>
            Publisher: @Book.Publisher
        </p>
        <p>
            Inventory Number: @Book.InventoryNumber
        </p>
        <p>
            Publication Year: @Book.PublicationYear
        </p>
    }
    
}

@code {
    [Parameter]
    public int Id { get; set; }


    private Book? Book { get; set; }


    protected override async Task OnInitializedAsync()
    {
        Book = await BookService.GetBookByIdAsync(Id);
    }

    protected bool IsLoaned()
    {
        int compareNrLoan = DateTime.Today.CompareTo(Book.LoanDate);
        int compareNrDeadline = DateTime.Today.CompareTo(Book.ReturnDeadline);

        if (compareNrLoan < 0 || compareNrDeadline > 0) // In the library
            return false;
        else // Loan to a person
            return true;
    }
}
