@page "/allbooks/{id:int}"
@using Library_DB
@using Client_Blazor.Services
@inject IBookService BookService
@inject ILoanService LoanService
@inject IMemberService MemberService

@if (Book is null)
{
    <p>Loading...</p>
}
else
{
    <h3>@Book.Title's Details</h3>

    @if (@Book.IsBorrowed)
    {
        <h4>This book has been borrowed.</h4>
        <p>
            Person Name: @LibraryMember.Name
        </p>
        <p>
            Deadline: @Loan.ReturnDeadline
        </p>
    }
    else
    {
        <h4>This book is inside the library.</h4>
        <p>
            Title: @Book.Title
        </p>
        <p>
            Author: @Book.Author
        </p>
        <p>
            Publisher: @Book.Publisher
        </p>
        <p>
            Inventory Number: @Book.InventoryNumber
        </p>
        <p>
            Publication Year: @Book.PublicationYear
        </p>
    }
    
}

@code {
    [Parameter]
    public int Id { get; set; }


    private Book? Book { get; set; }
    private Loan? MyLoan { get; set; }
    private LibraryMember? Member { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Book = await BookService.GetBookByIdAsync(Id);
        MyLoan = await LoanService.GetLoanByIdAsync(Id);
        Member = await MemberService.GetMemberByIdAsync(Id);
    }

}
