@page "/allbooks/{id:int}"
@using Library_DB
@using Client_Blazor.Services
@inject IBookService BookService

@if (Book is null)
{
    <p>Loading...</p>
}
else
{
    <h3>@Book.Title's Details</h3>

    <p>
        Title: @Book.Title
    </p>
    <p>
        Author: @Book.Author
    </p>
    <p>
        Publisher: @Book.Publisher
    </p>
    <p>
        Inventory Number: @Book.InventoryNumber
    </p>
    <p>
        Publication Year: @Book.PublicationYear
    </p>

}

@code {
    [Parameter]
    public int Id { get; set; }


    private Book? Book { get; set; }


    protected override async Task OnInitializedAsync()
    {
        Book = await BookService.GetBookByIdAsync(Id);
    }
}
