@page "/mybooks"
@using Client_Blazor.Services;
@using Library_Contract
@inject IBookService BookService;

<PageTitle>My Books</PageTitle>


@if (!string.IsNullOrEmpty(mainLayout.GetUserName()))
{
    @if (Lib_Books is null)
    {
        <p>Loading...</p>
    }
    else
    {
        <h3>My Books</h3>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>Inventory Number</th>
                    <th>Publication Year</th>
                </tr>
            </thead>
            <body>
                @foreach (var book in Lib_Books)
                {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Publisher</td>
                    <td>@book.InventoryNumber</td>
                    <td>@book.PublicationYear</td>
                </tr>
                }
            </body>
        </table>
    }
}
else
{
    <h3 class="my-4">Please login!</h3>

    <button type="button" class="btn btn-success" @onclick="mainLayout.OpenLogin">Login</button>
}


@code {
    [CascadingParameter]
    public MainLayout mainLayout { get; set; }

    [Parameter]
    public int Id { get; set; }

    private IEnumerable<Book>? Lib_Books { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Lib_Books = await BookService.GetAllBooksAsync();
    }
}
